@import url('./assets/fonts/stylesheet.css');

body {
  margin: 0;
  font-family: 'Gilroy', sans-serif !important;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.ant-checkbox-wrapper{ 
  width: 87%;
}
.ant-checkbox-wrapper span{
  max-width: 100%;
 } 